

<form [formGroup]="homeFormGroup" (ngSubmit)="onSubmit()">

    <label for="first-name">First Name: </label>
    <input id="first-name" type="text" formControlName="firstName" [ngClass]="firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched) ? 'form-border-invalid' : 'form-border-valid'">
    <div *ngIf="firstNameFormControl.invalid && (firstNameFormControl.dirty || firstNameFormControl.touched)" class="form-color-invalid">
        <div *ngIf="firstNameFormControl.errors?.['minlength']">
            firstName min length 3 characters.
        </div>
        <div *ngIf="firstNameFormControl.errors?.['maxlength']">
            firstName max length 256 characters.
        </div>
        <div *ngIf="firstNameFormControl.errors?.['required']">
            firstName is required.
        </div>
    </div>

    <label for="last-name">Last Name: </label>
    <input id="last-name" type="text" formControlName="lastName" [ngClass]="lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched) ? 'form-border-invalid' : 'form-border-valid'">
    <div *ngIf="lastNameFormControl.invalid && (lastNameFormControl.dirty || lastNameFormControl.touched)" class="form-color-invalid">
        <div *ngIf="lastNameFormControl.errors?.['minlength']">
            lastName min length 3 characters.
        </div>
        <div *ngIf="lastNameFormControl.errors?.['maxlength']">
            lastName max length 256 characters.
        </div>
        <div *ngIf="lastNameFormControl.errors?.['required']">
            lastName is required.
        </div>
    </div>
  
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!homeFormGroup.valid">Submit</button>
    <button type="reset" (click)="reset()">Reset</button>

  </form>