

<div style="padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px" class="body-background body-font">
    <div class="login">
        <a href="https://www.mvptranslations.net/">
            <img alt="MVPTranslations Logo" src="../../../../../assets/images/MVPTranslationsLogo.jpg" />
        </a>
    </div>
    <div class="login">
        <div class="login-screen">
            <div class="appointment-br-middle"></div>
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <div class="appointment-br-middle"></div>
            <form class="login-form" role="form" method="post">
                <div class="control-group">
                    <div class="row">
                        <div class="col-10">
                            <input type="text" tabindex="101" placeholder="UserName" class="Login-UserName" [(ngModel)] = "loginModel.username">
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="row">
                        <div class="col-10">
                            <input id="inputPassword" type="password" tabindex="102" placeholder="Password" class="Login-Password" [(ngModel)] = "loginModel.password">
                        </div>
                        <div class="col-2 vertical-align">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="hide-password" style="display: block">
                                <i id="ihidepassword" class="fa fa-eye-slash"></i>
                            </span>
                            <span class="show-password" style="display: none">
                                <i id="ishowpassword" class="fa fa-eye"></i>
                            </span>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger" style="font-size: 11px !important;"></div>
                <button type="submit" tabindex="103" class="btn btn-primary block full-width m-b" (click)="signIn()">Login</button>
                <a class="login-link" asp-area="Identity" asp-page="/Account/ForgotPassword" (click)="forgotPassword()">Forgot password?</a>
                <span style="text-align:center; font-size:11px; font-weight:bold">
                    Version: AMS7
                </span>
            </form>
        </div>
    </div>
</div>    



